*{
    margin: 0;
    padding: 0;
}
#heading{
    font-size: 40px;
    color: royalblue;
    background-color: bisque;
}
#heading:hover{
    color: brown;
    background-color: cornflowerblue;
}
#btn{
    padding: 10px 30px;
    background-color: darkseagreen;
    width: 150px;
    cursor: pointer;
}
#btn:active{
    background-color: darkred;
}
input{
    font-size: 20px;
    padding: 10px 20px;
}
input:focus{
    background-color:black;
    color: white;
    font-size: 30px;
}
input::placeholder{
    color: red;
}
.paragraph{
    color: purple;
    font-size: 30px;
}
.paragraph::first-letter{
    color: red;
    font-size: 50px;
}
.paragraph::first-line{
    color: green;
}
.paragraph::after{
    content: "Hello";
    color: green;
}
.paragraph::before{
    content: "Hello";
    color: rgb(36, 74, 211);
}

#container{
    height: 150px;
    color: aqua;
    width: 250px;
    background-color: blueviolet;
    padding: 20px;
    /* padding: 20px 40px; */
    /* padding: 20px 40px 60px; */
    /* padding: 20px 40px 60px 10px; */
    /* padding-left: 30px; */
    /* border-width:5px ;
    border-style: solid;
    border-color: brown; */
    /* border: 10px dashed red; */
    border: 10px double red;
    /* border: 10px dotted red; */
    /* border-radius: 50%; */
    /* border-top-left-radius: 10px; */
    /* margin: 10px; */
    /* margin: 10px 20px; */
    /* margin: 10px 20px 30px; */
    /* margin: 10px 20px 30px 50px; */
    margin-top: 10px;
    /* background-color: chocolate; */
}   